@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F0EDE8;
  color: #2D2D2D;
}

.font-brittany {
  font-family: 'Dancing Script', cursive;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
